.cta__paragraph {
    background: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */

    text-align: center;

    color: #E7E7E7;
}