.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
}

@media screen and (max-width: 1120px) {
    .header__container {
        padding: 25px 20px;
    }
}
