@media screen and (max-width: 767px) {
    .nav {
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
    }
}

@media screen and (max-width: 550px) {
    .nav {
        justify-content: center;
    }
}